<form [formGroup]="groceryForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Add Item" formControlName="item" autocomplete="off" />
        <mat-error *ngIf="groceryForm.controls['item'].hasError('maxlength')">
          An item must be less than {{ groceryForm.controls['item'].errors?.['maxlength'].requiredLength }} characters.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="groceryForm.invalid || !!!groceryForm.controls['item'].value">
        <mat-icon>add</mat-icon> Add Item
      </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</form>
